<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/products.css" />
		<meta name="description" content="Vue產品頁" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<title>產品列表</title>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="productList">
					<h2>產品列表</h2>
					<p>共有10項產品</p>
					<table>
						<thead>
							<tr>
								<th>產品名稱</th>
								<th>原價</th>
								<th>特價</th>
								<th>已上架</th>
								<th>查看細節</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="product in products">
								<td style="text-align: left">{{ product.title }}</td>
								<td>{{ product.origin_price }}</td>
								<td>{{ product.price }}</td>
								<td><span v-if="product.is_enabled" style="color: green">是</span><span v-else style="color: rgb(235, 0, 0)">否</span></td>
								<td><button @click="currentProduct = product">查看細節</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="productPreview">展示區 {{ currentProduct }}</div>
			</div>
		</div>
		<div id="loading">
			<div class="loadingContainer">
				<div class="loader"></div>
			</div>
		</div>
		<script type="module">
			const url = "https://ec-course-api.hexschool.io/v2";
			const path = "binghank";
			import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.3/vue.esm-browser.min.js";
			createApp({
				data() {
					return {
						products: [],
						currentProduct: ""
					};
				},
				methods: {},
				mounted() {
					const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexVueToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
					if (!token) {
						alert("請先登入");
						location.href = "index.html";
					}

					axios
						.post(`${url}/api/user/check`, null, {
							headers: {
								Authorization: token
							}
						})
						.then((res) => {
							console.log(res);
							document.querySelector("#loading").style.display = "none";
							return axios(`https://ec-course-api.hexschool.io/v2/api/binghank/admin/products/all`, {
								headers: {
									Authorization: token
								}
							});
						})
						.then((response) => {
							const { products } = response.data;
							console.log(products);
							this.products = products;
						})
						.catch((err) => {
							console.log(err);
							const { success } = err.response.data;
							if (!success) {
								alert("請先登入");
								document.querySelector("#loading").style.display = "none";
								location.href = "index.html";
							}
						});
				}
			}).mount("#app");
		</script>
	</body>
</html>
