<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/products.css" />
		<meta name="description" content="Vue產品頁" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<title>產品列表</title>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="productList">
					<h2>產品列表</h2>
					<div class="tbl-header">
						<table cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th>產品名稱</th>
									<th>原價</th>
									<th>售價</th>
									<th>是否啟用</th>
									<th>查看細節</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="tbl-content">
						<table cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr v-for="product in products">
									<td>{{ product.title }}</td>
									<td style="text-align: center">{{ product.origin_price }}</td>
									<td style="text-align: center">{{ product.price }}</td>
									<td style="text-align: center"><span v-if="product.is_enabled" style="color: green; font-weight: 900">是</span><span v-else style="color: rgb(235, 0, 0); font-weight: 900">否</span></td>
									<td style="text-align: center"><button @click="currentProduct = product">查看細節</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="productPreview">
					<template v-if="currentProduct.title">
						<div class="card">
							<div class="card-header">
								<img :src="currentProduct.imageUrl" alt="rover" />
							</div>
							<div class="card-body">
								<span v-if="currentProduct.category == '蛋糕'" class="tag tag-purple">{{ currentProduct.category }}</span>
								<span v-else-if="currentProduct.category == '甜甜圈'" class="tag tag-pink">{{ currentProduct.category }}</span>
								<h4>{{ currentProduct.title }}</h4>
								<p>{{ currentProduct.description }}</p>
								<div class="price">
									<div class="price-info">
										<del>原價{{ currentProduct.origin_price }}元 / {{ currentProduct.unit }}</del>
										<br />
										特價<span>{{ currentProduct.price }}</span>元 / {{ currentProduct.unit }}
									</div>
								</div>
							</div>
						</div>
						<template v-for="(imgSrc,index) in currentProduct.imagesUrl" :key="index">
							<img style="width: 110px; height: 100px; object-fit: cover" v-bind:src="imgSrc" :alt="currentProduct.title" class="images m-2" />
						</template>
					</template>
					<p class="title" v-else class="text-secondary">請選擇一個商品查看</p>
				</div>
			</div>
		</div>
		<div id="loading">
			<div class="loadingContainer">
				<div class="loader"></div>
			</div>
		</div>
		<script type="module">
			const url = "https://ec-course-api.hexschool.io/v2";
			const path = "binghank";
			import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.3/vue.esm-browser.min.js";
			createApp({
				data() {
					return {
						products: [],
						currentProduct: ""
					};
				},
				methods: {},
				mounted() {
					const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexVueToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
					if (!token) {
						alert("請先登入");
						location.href = "index.html";
					}
					axios
						.post(`${url}/api/user/check`, null, {
							headers: {
								Authorization: token
							}
						})
						.then((res) => {
							return axios(`https://ec-course-api.hexschool.io/v2/api/binghank/admin/products/all`, {
								headers: {
									Authorization: token
								}
							});
						})
						.then((response) => {
							const { products } = response.data;
							this.products = products;
							document.querySelector("#loading").style.display = "none";
						})
						.catch((err) => {
							console.log(err);
							const { success } = err.response.data;
							if (!success) {
								alert("請先登入");
								document.querySelector("#loading").style.display = "none";
								location.href = "index.html";
							}
						});
				}
			}).mount("#app");
		</script>
	</body>
</html>
